<ul class="verul mt-3">
    <li class="verli">
        <a class="nav-link" href="{{ path("admin_ads_index") }}">
            <i class="fa fa-hotel"></i>&nbsp;  Annonces
        </a>
    </li>
    <li class="verli">
        <a class="nav-link" href="{{ path("admin_admin_listUser") }}">
            <i class="fa fa-users"></i>&nbsp;  liste des utilisateurs
        </a>
    </li>
    <li class="verli">
        <a class="nav-link" href="{{ path("admin_admin_listRole") }}">
            <i class="fa fa-users"></i>&nbsp;  Liste des roles
        </a>
    </li>
    <li class="verli">
        <a class="nav-link" href="{{ path("admin_amount_listAmount") }}">
            <i class="fa fa-money"></i>&nbsp;  Liste des tarifs
        </a>
    </li>
</ul>