{% extends 'admin/base.html.twig' %}

{% block title %}Nouveau type de lit{% endblock %}

{% block body %}

{% if editMode %}
    <div class="jumbotron" style="background-color:orange">
        <h1>Modification du type de lit</h1>
    </div>                
{% else %}
    <div class="jumbotron" style="background-color:cyan">
        <h1>Création d'un type de lit</h1>
    </div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
        {{ form_start(form) }}
        {{ form_row(form.label, {'attr': {'placeholder': "Nom du type de lit"}}) }}
            <button type="submit" class="btn btn-success">
                {% if editMode %}
                    Modifier
                {% else %}
                    Créer
                {% endif %}
            </button>
        {{ form_end(form) }}
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}