{% extends 'admin/base.html.twig' %}

{% block title %}Accueil administrateur{% endblock %}

{% block body %}

<div class="container">
    <div class = "jumbotron">
        <h1><mark>Les Tables</mark></h1>
        <hr>
        <a href="{{ path('homepage') }}" class="btn btn-info">Retour au site</a> 
    </div>
</div>

{% endblock %}
