{% extends 'admin/base.html.twig' %}

{% block title %}liste des catégories des chambres{% endblock %}

{% block body %}

<div class = "jumbotron" style="background-color:#FEF9F9">
    <h1>Catégories de chambres</h1>
</div>  
<a class="btn btn-warning" style="color:white" href="{{ path('app_admin_hotel_newCategoryRoom') }}" role="button" >Créer</a>
<hr>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Nom de la catégorie de la chambre</th>
    </tr>
    {%for categoryRoom in categoryRooms %}
        <tr>
            <td>{{ categoryRoom.label }}</td>
            <td><a class="btn btn-info" style="color:white" href="{{ path('app_admin_hotel_editCategoryRoom', {'id':categoryRoom.id}) }}" role="button" >Modifier</a></td>
            <td><a class="btn btn-danger" style="color:white" href="{{ path('admin_hotel_deleteCategoryRoom', {'id':categoryRoom.id}) }} " role="button" >Supprimer</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}