<!DOCTYPE html>
<html lang="fr">
    <head role="header">
        <meta charset="UTF-8">
        <title>ViveHotel - {% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        {#<link rel="stylesheet" href="/css/main.css">#}
        <link rel="stylesheet" href="/css/app.css">
        {% endblock %}
    </head>
    <body>
            {% include "partials/header.html.twig" %}
        <main>
            {% block body %}{% endblock %}
        </main>
            {% include "partials/footer.html.twig" %}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
            {% block javascripts %}{% endblock %}
    </body>
</html>
