{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur ViveHotel {% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue dans Vive Hotel</h1>
        <p class="lead centered fantom" >Des hôtel de rêves,<br> vous ne voudrez plus repartir !</p>
        <hr class="my-4">
        <p class="lead centered fantom">Installez vous, on s'occupe du reste.</p>
        <p class="lead centered">
            <a class="btn btn-lg btncolor" href="#" role="button">En savoir plus</a>
        </p>
    </div>
</div>
<div class="container">
    <h2 class="mt-3 mb-4">Nos chambres stars</h2>
    <div class="row">
       <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header text-center">
                    Suite palce à <strong>1&nbsp;300&euro;</strong>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'hotel"  style="heaght: 200px; width: 100%;display: block">
                <div class="card-body">
                    <h3 class="card-title">
                        appart de ouf!
                    </h3>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum ipsum voluptatem praesentium enim ducimus eaque neque omnis, aliquid soluta dicta?
                    </p>
                    <a href="#" class="btn btn-info">En savoir plus</a>
                </div>
            </div>
       </div>
       <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header text-center">
                    Suite palce à <strong>1&nbsp;300&euro;</strong>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'hotel"  style="heaght: 200px; width: 100%;display: block">
                <div class="card-body">
                    <h3 class="card-title">
                        appart de ouf!
                    </h3>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum ipsum voluptatem praesentium enim ducimus eaque neque omnis, aliquid soluta dicta?
                    </p>
                    <a href="#" class="btn btn-info">En savoir plus</a>
                </div>
            </div>
       </div>
       <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header text-center">
                    Suite palce à <strong>1&nbsp;300&euro;</strong>
                </div>
                <img src="http://placehold.it/1000x400" alt="Image de l'hotel" style="heaght: 200px; width: 100%;display: block">
                <div class="card-body">
                    <h3 class="card-title">
                        appart de ouf!
                    </h3>
                    <p class="card-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum ipsum voluptatem praesentium enim ducimus eaque neque omnis, aliquid soluta dicta?
                    </p>
                    <a href="#" class="btn btn-info">En savoir plus</a>
                </div>
            </div>
       </div>
    </div>
    <h2 class="h1 mt-3 mb-4">Nos hôtels stars</h2>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h3 class="card-title">Le Hilton</h3>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Hotel Hilton" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, illo?</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h3 class="card-title">Le Hilton</h3>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Hotel Hilton" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, illo?</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h3 class="card-title">Le Hilton</h3>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Hotel Hilton" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, illo?</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}